<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Toggle dropdown</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <button class="dropdown-item">Action - 1</button>
        <button class="dropdown-item">Another Action</button>
        <button class="dropdown-item">Something else is here</button>
      </div>
    </div>
  </div>
</div>

<div (keyup)="onKey($event)">
	<h2 class="text-center">{{phrase.phrase}}</h2>
	<h2 class="text-center" style="color:gray;dispaly:inline-block;">{{phrase.phonetic}}
		<a href="#" onclick='return false;' (click)="play();">
			<span class="glyphicon glyphicon-volume-up"></span>
		</a>
	</h2>
	<br>
	<div [hidden]="!showMeaning">
		{{phrase.meaning}}
	</div>
	<ul class="list-group" [hidden]="!showMeaning">
		<li class="list-group-item" *ngFor="let sentence of this.phrase.sentences">
			{{sentence}}
		</li>
	</ul>

	<div class="text-center">
		<div [hidden]="showNext">
			<button class="btn btn-info" (click)="remember()">I remember</button>
			<button class="btn btn-info" (click)="showMeaning=!showMeaning;showNext=!showNext;">I forget</button>
		</div>
		<h2 style="dispaly:inline-block;">
			<a href="#" [hidden]="!showNext" onclick="return false;" (click)="next()">
				<span class="glyphicon glyphicon-arrow-right"></span>
			</a>
		</h2>
	</div>

	<br>
	<br>
	<div [hidden]="!showAddExample"> 
		<textarea [(ngModel)]="example"></textarea >
    <br>
    <button class="btn btn-info" (click)="addExample()">add example to this phrase</button>
	</div>
</div>