/*html * {
    font-size: 1.1em !important;
}*/

body {
    width: 100%;
    height: 100%;
    background-color: #50515d;
}

/*.bkimg {
    background-image: url(.app/assets/images/non-production_bkgd.png);
}*/

.page-fill {
    position: relative;
    min-height: 100%;
    height: 100%;
    margin-bottom: 35px;
}

.tab-bar {
    background: #333;
}

.tab-bar .ribbon-item {
    /*background: #555;*/
    border-radius: 3px 3px 0 0;
    /*margin: 17px 5px -5px 5px;*/
    min-width: 56px;
    text-align: center;
}

.tab-bar .ribbon-item p {
    font-size: .75em;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: -3px;
    margin-left: -3px;
    padding-top: 5px;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.tab-bar .ribbon-item p:hover {
    color: #000000;
    background: #ccc;
    border-radius: 3px 3px 0 0;
    padding-top: 5px;
    cursor: pointer;
    text-decoration: none;
}

.ribbon-icon-yellow-hover:hover {
    margin: -1px;
    border: 1px solid #ffff00;
    background-color: #657290;
}

.tab-bar-item-selected p {
    background: #4176d4;
    border-radius: 3px 3px 0 0;
    padding-top: 5px;
    cursor: pointer;
    text-decoration: none;
}

.tab-bar-icon {
    float: right;
}

.tab-bar-tab{
    padding: 25px 0px 10px 3px;
}

.tab-bar-icon .ribbon-item-icon {
    margin-top: -20px;
}

.displayModal {
    background-color: #DDD;
    border-bottom-color: #DDD;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #ddd;
    border-right-color: #DDD;
    border-top-color: #DDD;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.selected {
    padding: 1px;
    border: 1px solid #F1C43F;
    background-color: #FDEEB3;
    border-radius: 3px;
}

.nonSelected {
    padding: 1px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.custom-modal-window .modal-dialog {
    width: initial;
    display: table;
}

.large-modal-window .modal-dialog {
    width: 40%;
    display: table;
}

.max-modal-window .modal-dialog {
    width: 100%;
    height: 100%;
}

.pointerCursor {
    cursor: pointer;
}

.textCursor {
    cursor: text;
}

.error {
    color: #FF0000;
    font-weight: 600;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.drageDropType ul[dnd-list],
.drageDropType ul[dnd-list] > li {
    position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.drageDropType ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
    width: 100%;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.drageDropType ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.drageDropType ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    padding: 10px 15px;
    min-height: 42px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.drageDropType ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    margin-bottom: -1px;
    width: 100%;

    /* Disable text selection if item is not draggable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.drageDropType ul[dnd-list] li dnd-nodrag {
    display: block;
    padding: 5px 10px;
}

/**
 * Gender-specifc background
 */
.drageDropType ul[dnd-list] li.background-man {
    background-color: #CAE0FC;
}

.drageDropType ul[dnd-list] li.background-woman {
    background-color: #FFE2F5;
}

.drageDropType ul[dnd-list] input.background-man {
    background-color: #D8E9FF;
    color: #2F4D99;
}

.drageDropType ul[dnd-list] input.background-woman {
    background-color: #FFF0FA;
    color: #D84FA7;
}

.no-top {
    top: 0
}

/**
 * Handle positioning
 */
.drageDropType .handle {
    cursor: move;
    /*position: absolute;*/
    top: 0px;
}

.drageDropType .name {
    margin-left: 20px;
}

.inline-block {
    display: inline-block
}

.round-rect {
    overflow-y: auto;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.short-div {
    height: 500px;
    margin-top: -11px
}

.high-div {
    height: 1000px;
    margin-top: -11px;
}

.p-l-0 {
    padding-left: 0px;
}

.p-l-10 {
    padding-left: 10px;
}

.p-l-20 {
    padding-left: 20px;
}

.p-l-25 {
    padding-left: 25px;
}

.p-l-30 {
    padding-left: 30px;
}

.pad-10 {
    padding: 10px;
}

.pad-15 {
    padding: 15px;
}

.normal-text {
    font-weight: normal
}

.mar-20 {
    margin-right: 20px;
}

.mar-l-0 {
    margin-left: 0px;
}

.mar-t-10{
    margin-top:10px;
}

.disable-float {
    float: none
}

.mar-b-10 {
    margin-bottom: 10px;
}

.no-border {
    border: 0px solid #ddd
}

.pad-5-10 {
    padding: 5px 10px;
}

.full-width {
    width: 100%;
}

#bucketDateCondition > div {
    display: inline-block;
}
